apiVersion: 1

providers:
  - name: '3fs'
    type: file
    disableDeletion: false
    updateIntervalSeconds: 60
    options:
      path: /etc/grafana/provisioning/dashboards/3fs.json
      foldersFromFilesStructure: true