{
  "__inputs": [
    {
      "name": "DS_3FS-CLICKHOUSE",
      "label": "3fs-clickhouse",
      "description": "",
      "type": "datasource",
      "pluginId": "grafana-clickhouse-datasource",
      "pluginName": "ClickHouse"
    }
  ],
  "__elements": {},
  "__requires": [
    {
      "type": "grafana",
      "id": "grafana",
      "name": "Grafana",
      "version": "11.6.0-pre"
    },
    {
      "type": "datasource",
      "id": "grafana-clickhouse-datasource",
      "name": "ClickHouse",
      "version": "4.8.2"
    },
    {
      "type": "panel",
      "id": "stat",
      "name": "Stat",
      "version": ""
    },
    {
      "type": "panel",
      "id": "timeseries",
      "name": "Time series",
      "version": ""
    }
  ],
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "grafana",
          "uid": "-- Grafana --"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": null,
  "links": [],
  "panels": [
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "id": 2,
      "panels": [],
      "title": "Overview",
      "type": "row"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "description": "HB is a shot of HEARTBEAT",
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "transparent",
            "mode": "fixed"
          },
          "decimals": 0,
          "fieldMinMax": false,
          "mappings": [],
          "noValue": "0",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 8,
        "x": 0,
        "y": 1
      },
      "id": 1,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "vertical",
        "percentChangeColorMode": "standard",
        "reduceOptions": {
          "calcs": [],
          "fields": "/.*/",
          "values": false
        },
        "showPercentChange": false,
        "text": {},
        "textMode": "value_and_name",
        "wideLayout": true
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "editorType": "sql",
          "format": 0,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT val AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'MgmtdService.NodeStatusCount')\n      AND (\"instance\" = 'META')\nORDER BY TIMESTAMP DESC\nLIMIT 1",
          "refId": "TOTAL",
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          }
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 0,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT val AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP)) AND \n      (\"metricName\" = 'MgmtdService.NodeStatusCount') AND \n      (\"instance\" = 'META') AND \n      (\"tag\" = 'HEARTBEAT_CONNECTED')\nORDER BY TIMESTAMP DESC\nLIMIT 1",
          "refId": "HB_CONNECTED"
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 1,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "table",
          "rawSql": "SELECT val AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'MgmtdService.NodeStatusCount')\n      AND (\"instance\" = 'MGMTD')\n      AND (\"tag\" = 'HEARTBEAT_CONNECTING')\nORDER BY TIMESTAMP DESC\nLIMIT 1",
          "refId": "HB_CONNECTING"
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 1,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "table",
          "rawSql": "SELECT val AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'MgmtdService.NodeStatusCount')\n      AND (\"instance\" = 'STORAGE')\n      AND (\"tag\" = 'HEARTBEAT_CONNECTING')\nORDER BY TIMESTAMP DESC\nLIMIT 1",
          "refId": "STORAGE"
        }
      ],
      "title": "Meta Status",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "description": "HB is a shot of HEARTBEAT",
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "transparent",
            "mode": "fixed"
          },
          "mappings": [],
          "noValue": "0",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 8,
        "x": 8,
        "y": 1
      },
      "id": 5,
      "options": {
        "colorMode": "background",
        "graphMode": "area",
        "justifyMode": "center",
        "orientation": "vertical",
        "percentChangeColorMode": "standard",
        "reduceOptions": {
          "calcs": [],
          "fields": "/.*/",
          "values": false
        },
        "showPercentChange": false,
        "textMode": "value_and_name",
        "wideLayout": true
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "editorType": "sql",
          "format": 0,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT val AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'MgmtdService.NodeStatusCount')\n      AND (\"instance\" = 'MGMTD')\nORDER BY TIMESTAMP DESC\nLIMIT 1",
          "refId": "TOTAL",
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          }
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 0,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT val AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'MgmtdService.NodeStatusCount')\n      AND (\"instance\" = 'MGMTD')\n      AND (\"tag\" = 'HEARTBEAT_CONNECTED')\nORDER BY TIMESTAMP DESC\nLIMIT 1",
          "refId": "HB_CONNECTED"
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 0,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT val AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'MgmtdService.NodeStatusCount')\n      AND (\"instance\" = 'MGMTD')\n      AND (\"tag\" = 'HEARTBEAT_CONNECTING')\nORDER BY TIMESTAMP DESC\nLIMIT 1",
          "refId": "HB_CONNECTING"
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 1,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "table",
          "rawSql": "SELECT val AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'MgmtdService.NodeStatusCount')\n      AND (\"instance\" = 'MGMTD')\n      AND (\"tag\" = 'HEARTBEAT_FAILED')\nORDER BY TIMESTAMP DESC\nLIMIT 1",
          "refId": "HEARTBEAT_FAILED"
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 1,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "table",
          "rawSql": "SELECT val AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'MgmtdService.NodeStatusCount')\n      AND (\"instance\" = 'MGMTD')\n      AND (\"tag\" = 'DISABLED')\nORDER BY TIMESTAMP DESC\nLIMIT 1",
          "refId": "DISABLED"
        }
      ],
      "title": "Mgmtd Status",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "description": "HB is a shot of HEARTBEAT",
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "transparent",
            "mode": "fixed"
          },
          "decimals": 2,
          "mappings": [],
          "noValue": "0.00B/s",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              }
            ]
          },
          "unit": "bytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 8,
        "x": 16,
        "y": 1
      },
      "id": 6,
      "options": {
        "colorMode": "background",
        "graphMode": "area",
        "justifyMode": "center",
        "orientation": "vertical",
        "percentChangeColorMode": "standard",
        "reduceOptions": {
          "calcs": [],
          "fields": "/.*/",
          "values": false
        },
        "showPercentChange": false,
        "textMode": "value_and_name",
        "wideLayout": true
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 1,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "table",
          "rawSql": "SELECT SUM(val) AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'storage.read.bytes')\nGROUP BY TIMESTAMP\nORDER BY TIMESTAMP DESC\nLIMIT 1, 1",
          "refId": "READ"
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 1,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "table",
          "rawSql": "SELECT SUM(val) AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'storage.req_write.bytes')\nGROUP BY TIMESTAMP\nORDER BY TIMESTAMP DESC\nLIMIT 1, 1",
          "refId": "WRITE"
        }
      ],
      "title": "R/W Status",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "transparent",
            "mode": "fixed"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 8,
        "x": 0,
        "y": 6
      },
      "id": 7,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "vertical",
        "percentChangeColorMode": "standard",
        "reduceOptions": {
          "calcs": [],
          "fields": "/.*/",
          "values": false
        },
        "showPercentChange": false,
        "textMode": "value_and_name",
        "wideLayout": true
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 0,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT count() AS \" \"\nFROM (\n    SELECT host, argMax(val, TIMESTAMP) AS latest_val\n    FROM \"3fs\".\"counters\"\n    WHERE ($__timeFilter(TIMESTAMP))\n          AND (\"metricName\" = 'storage.disk_info.available')\n    GROUP BY host\n)",
          "refId": "HOST"
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 1,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "table",
          "rawSql": "SELECT count() AS \" \"\nFROM (\n    SELECT pod, argMax(val, TIMESTAMP) AS latest_val\n    FROM \"3fs\".\"counters\"\n    WHERE ($__timeFilter(TIMESTAMP))\n          AND (\"metricName\" = 'storage.disk_info.available')\n    GROUP BY pod\n)",
          "refId": "NODE"
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 1,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "table",
          "rawSql": "SELECT count() AS \" \"\nFROM (\n    SELECT concat(host, '-', pod, '-', instance) AS hpi, argMax(val, TIMESTAMP) AS latest_val\n    FROM \"3fs\".\"counters\"\n    WHERE ($__timeFilter(TIMESTAMP))\n          AND (\"metricName\" = 'storage.disk_info.available')\n    GROUP BY hpi\n)",
          "refId": "DISK"
        }
      ],
      "title": "Storage Num",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "description": "HB is a shot of HEARTBEAT",
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "transparent",
            "mode": "fixed"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 8,
        "x": 8,
        "y": 6
      },
      "id": 8,
      "options": {
        "colorMode": "background",
        "graphMode": "area",
        "justifyMode": "center",
        "orientation": "vertical",
        "percentChangeColorMode": "standard",
        "reduceOptions": {
          "calcs": [],
          "fields": "/.*/",
          "values": false
        },
        "showPercentChange": false,
        "textMode": "value_and_name",
        "wideLayout": true
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 1,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "table",
          "rawSql": "SELECT count() AS \" \"\nFROM (\n    SELECT instance, argMax(val, TIMESTAMP) AS latest_val\n    FROM \"3fs\".\"counters\"\n    WHERE ($__timeFilter(TIMESTAMP))\n          AND (\"metricName\" = 'storage.target_state')\n    GROUP BY instance\n)",
          "refId": "TOTAL"
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 0,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT count() AS \" \"\nFROM (\n    SELECT instance, argMax(val, TIMESTAMP) AS latest_val\n    FROM \"3fs\".\"counters\"\n    WHERE ($__timeFilter(TIMESTAMP))\n          AND (\"metricName\" = 'storage.target_state')\n          AND (\"val\" = 0) \n    GROUP BY instance\n)",
          "refId": "INVALID"
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 0,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT count() AS \" \"\nFROM (\n    SELECT instance, argMax(val, TIMESTAMP) AS latest_val\n    FROM \"3fs\".\"counters\"\n    WHERE ($__timeFilter(TIMESTAMP))\n          AND (\"metricName\" = 'storage.target_state')\n          AND (\"val\" = 1) \n    GROUP BY instance\n)",
          "refId": "UPTODATE"
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 1,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "table",
          "rawSql": "SELECT count() AS \" \"\nFROM (\n    SELECT instance, argMax(val, TIMESTAMP) AS latest_val\n    FROM \"3fs\".\"counters\"\n    WHERE ($__timeFilter(TIMESTAMP))\n          AND (\"metricName\" = 'storage.target_state')\n          AND (\"val\" = 2) \n    GROUP BY instance\n)",
          "refId": "ONLINE"
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 1,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "table",
          "rawSql": "SELECT count() AS \" \"\nFROM (\n    SELECT instance, argMax(val, TIMESTAMP) AS latest_val\n    FROM \"3fs\".\"counters\"\n    WHERE ($__timeFilter(TIMESTAMP))\n          AND (\"metricName\" = 'storage.target_state')\n          AND (\"val\" = 4) \n    GROUP BY instance\n)",
          "refId": "OFFLINE"
        }
      ],
      "title": "Storage Target Status",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "transparent",
            "mode": "fixed"
          },
          "decimals": 2,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              }
            ]
          },
          "unit": "bytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 8,
        "x": 16,
        "y": 6
      },
      "id": 9,
      "options": {
        "colorMode": "background",
        "graphMode": "area",
        "justifyMode": "center",
        "orientation": "vertical",
        "percentChangeColorMode": "standard",
        "reduceOptions": {
          "calcs": [],
          "fields": "/.*/",
          "values": false
        },
        "showPercentChange": false,
        "textMode": "value_and_name",
        "wideLayout": true
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 1,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "table",
          "rawSql": "SELECT SUM(val) AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'storage.disk_info.capacity')\nGROUP BY TIMESTAMP\nORDER BY TIMESTAMP DESC\nLIMIT 1, 1",
          "refId": "TOTAL"
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 0,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT (a.total_val - b.total_val) AS \" \"\nFROM \n    (\n        SELECT TIMESTAMP, SUM(val) AS \"total_val\"\n        FROM \"3fs\".\"counters\"\n        WHERE ($__timeFilter(TIMESTAMP))\n              AND (\"metricName\" = 'storage.disk_info.capacity')\n        GROUP BY TIMESTAMP\n        ORDER BY TIMESTAMP DESC\n        LIMIT 1, 1\n    ) a\nJOIN \n    (\n        SELECT TIMESTAMP, SUM(val) AS \"total_val\"\n        FROM \"3fs\".\"counters\"\n        WHERE ($__timeFilter(TIMESTAMP))\n              AND (\"metricName\" = 'storage.disk_info.free')\n        GROUP BY TIMESTAMP\n        ORDER BY TIMESTAMP DESC\n        LIMIT 1, 1\n    ) b\nON (a.TIMESTAMP = b.TIMESTAMP)\nORDER BY a.TIMESTAMP ASC",
          "refId": "USED"
        },
        {
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          },
          "editorType": "sql",
          "format": 0,
          "hide": false,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT SUM(val) AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'storage.disk_info.free')\nGROUP BY TIMESTAMP\nORDER BY TIMESTAMP DESC\nLIMIT 1, 1",
          "refId": "FREE"
        }
      ],
      "title": "Storage Capacity",
      "type": "stat"
    },
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 11
      },
      "id": 3,
      "panels": [],
      "title": "Read/Write",
      "type": "row"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "green",
            "mode": "fixed"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "decimals": 2,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              }
            ]
          },
          "unit": "bytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 12
      },
      "id": 10,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "editorType": "sql",
          "format": 0,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT TIMESTAMP, SUM(val) AS \"read\"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'storage.read.bytes')\nGROUP BY TIMESTAMP",
          "refId": "A",
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          }
        }
      ],
      "title": "Read Bytes",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "green",
            "mode": "fixed"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineStyle": {
              "fill": "solid"
            },
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": true,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "decimals": 2,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              }
            ]
          },
          "unit": "bytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 12
      },
      "id": 11,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "editorType": "sql",
          "format": 0,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT TIMESTAMP, SUM(val) AS \"write\"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'storage.req_write.bytes')\nGROUP BY TIMESTAMP",
          "refId": "A",
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          }
        }
      ],
      "title": "Write Bytes",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "purple",
            "mode": "fixed"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "decimals": 0,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 20
      },
      "id": 12,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "editorType": "sql",
          "format": 0,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT TIMESTAMP, SUM(val) AS \"read\"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'storage.req_read.total')\nGROUP BY TIMESTAMP, instance",
          "refId": "A",
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          }
        }
      ],
      "title": "Read Count",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "purple",
            "mode": "fixed"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "decimals": 0,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 20
      },
      "id": 13,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "editorType": "sql",
          "format": 0,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT TIMESTAMP, SUM(val) AS \"write\"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'storage.req_write.total')\nGROUP BY TIMESTAMP, instance",
          "refId": "A",
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          }
        }
      ],
      "title": "Write Count",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "decimals": 2,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              }
            ]
          },
          "unit": "ns"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 28
      },
      "id": 15,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "multi",
          "sort": "none"
        }
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "editorType": "sql",
          "format": 0,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT TIMESTAMP, AVG(mean) AS \"mean\", AVG(p50) AS \"p50\", AVG(p90) AS \"p90\", AVG(p95) AS \"p95\", AVG(p99) AS \"p99\"\nFROM \"3fs\".\"distributions\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'storage.req_read.succ_latency')\nGROUP BY TIMESTAMP, host, instance\n",
          "refId": "A",
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          }
        }
      ],
      "title": "Read Latency",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "decimals": 2,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "ns"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 28
      },
      "id": 14,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "multi",
          "sort": "none"
        }
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "editorType": "sql",
          "format": 0,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT TIMESTAMP, AVG(mean) AS \"mean\", AVG(p50) AS \"p50\", AVG(p90) AS \"p90\", AVG(p95) AS \"p95\", AVG(p99) AS \"p99\"\nFROM \"3fs\".\"distributions\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'storage.req_write.succ_latency')\nGROUP BY TIMESTAMP, host, instance",
          "refId": "A",
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          }
        }
      ],
      "title": "Write Latency",
      "type": "timeseries"
    },
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 36
      },
      "id": 4,
      "panels": [],
      "title": "OP",
      "type": "row"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "decimals": 0,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 8,
        "x": 0,
        "y": 37
      },
      "id": 16,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "multi",
          "sort": "none"
        }
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "editorType": "sql",
          "format": 0,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT TIMESTAMP, instance, SUM(val) AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'fuse.op')\nGROUP BY TIMESTAMP, instance\nORDER BY TIMESTAMP ASC",
          "refId": "A",
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          }
        }
      ],
      "title": "Fuse OP",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "decimals": 0,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 8,
        "x": 8,
        "y": 37
      },
      "id": 18,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "multi",
          "sort": "none"
        }
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "editorType": "sql",
          "format": 0,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT TIMESTAMP, instance, SUM(val) AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'meta_client.op_total')\nGROUP BY TIMESTAMP, instance\nORDER BY TIMESTAMP ASC",
          "refId": "A",
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          }
        }
      ],
      "title": "Meta Client OP",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 8,
        "x": 16,
        "y": 37
      },
      "id": 17,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "multi",
          "sort": "none"
        }
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "editorType": "sql",
          "format": 0,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT TIMESTAMP, instance, SUM(val) AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'meta_server.op_total')\nGROUP BY TIMESTAMP, instance\nORDER BY TIMESTAMP ASC",
          "refId": "A",
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          }
        }
      ],
      "title": "Meta Server OP",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 8,
        "x": 0,
        "y": 45
      },
      "id": 19,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "multi",
          "sort": "none"
        }
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "editorType": "sql",
          "format": 0,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT TIMESTAMP, substr(metricName, 17), SUM(val) AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (startsWith(\"metricName\", 'fdb_total_count_'))\nGROUP BY TIMESTAMP, metricName\nORDER BY TIMESTAMP ASC",
          "refId": "A",
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          }
        }
      ],
      "title": "FoundationDB OP",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "decimals": 0,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 8,
        "x": 8,
        "y": 45
      },
      "id": 20,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "multi",
          "sort": "none"
        }
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "editorType": "sql",
          "format": 0,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT TIMESTAMP, instance, SUM(val) AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'MgmtdClient.op.total')\nGROUP BY TIMESTAMP, instance\nORDER BY TIMESTAMP ASC",
          "refId": "A",
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          }
        }
      ],
      "title": "Mgmtd Client OP",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "grafana-clickhouse-datasource",
        "uid": "3fs_clickhouse_uid"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 8,
        "x": 16,
        "y": 45
      },
      "id": 21,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "multi",
          "sort": "none"
        }
      },
      "pluginVersion": "11.6.0-pre",
      "targets": [
        {
          "editorType": "sql",
          "format": 0,
          "meta": {
            "builderOptions": {
              "columns": [],
              "database": "",
              "limit": 1000,
              "mode": "list",
              "queryType": "table",
              "table": ""
            }
          },
          "pluginVersion": "4.8.2",
          "queryType": "timeseries",
          "rawSql": "SELECT TIMESTAMP, instance, SUM(val) AS \" \"\nFROM \"3fs\".\"counters\"\nWHERE ($__timeFilter(TIMESTAMP))\n      AND (\"metricName\" = 'MgmtdService.op.total')\nGROUP BY TIMESTAMP, instance\nORDER BY TIMESTAMP ASC",
          "refId": "A",
          "datasource": {
            "type": "grafana-clickhouse-datasource",
            "uid": "3fs_clickhouse_uid"
          }
        }
      ],
      "title": "Mgmtd Service OP",
      "type": "timeseries"
    }
  ],
  "schemaVersion": 41,
  "tags": [],
  "templating": {
    "list": []
  },
  "time": {
    "from": "2025-05-08T11:44:32.010Z",
    "to": "2025-05-08T11:50:15.830Z"
  },
  "timepicker": {},
  "timezone": "Asia/Shanghai",
  "title": "3FS Cluster",
  "uid": "fej0dcbkz8etcb",
  "version": 70,
  "weekStart": "",
  "gnetId": 23395,
  "description": "The Grafana monitoring dashboard for the cluster granularity of the 3FS (Fire-Flyer File System)."
}